@font-face {
  font-family: "munro";
  src: url("../fonts/munro.ttf");
}


html, body {
	font-family: "munro";
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background-image: url("../images/backgrounds/starsss.png");
	background-repeat: repeat;

}

body span{
	color: white;
}

span img{
	max-width: 400px;
}
