@font-face {
  font-family: "munro";
  src: url("../fonts/munro.ttf");
}

@font-face {
	font-family: "FreePixel";
	src: url("../fonts/FreePixel.ttf");
}


html, body {
	font-family: "FreePixel";
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

}

a:link {
	color: coral;
	text-decoration: none;
  }

a:visited { 
	color: rgb(133, 80, 255);
	text-decoration: none; 
}

a:hover { 
	color: white;
	text-decoration: none; 
}

body span{
	color: white;
}

span img{
	max-width: 400px;
}

.artworks {
	display: table;
	align-content: center;
}
.artworks img{
	box-shadow: 5px 5px 5px rgb(0, 0, 0);
	margin-bottom: 5px;
	width: 100%;
	max-width: 2000px;
}
